<template>
  <div id="payment-page">
    <div class="info-container">
      <p>Информация о платеже</p>
      <p>
        <span class="pay-info" v-for="(str,f,i) in payInfo" :key="i">
          <span class="name">{{str.string}}:</span>
          <span class="value">
            <input
              type="text"
              class="cardinfo-input"
              :class="{wrong: isWrong(f)}"
              v-model="str.value"
              @input="removeUncorrectField(f)"
              oninput="this.value=this.value.replace(/[^0-9]/g,'');"
            />
          </span>
          <span v-if="f=='sum'">руб.</span>
        </span>
      </p>
    </div>

    <div class="bank-card-container">
      <p>Данные банковской карты</p>

      <div class="card-face">
        <div class="name">Номер карты</div>

        <div class="input-container">
          <input
            v-for="(number,i) in bankCardInfo.number"
            :key="i"
            type="text"
            class="cardinfo-input number"
            :class="{wrong: isWrong('number')}"
            v-model="bankCardInfo.number[i]"
            @input="inputSupport(i); removeUncorrectField('number')"
            oninput="this.value=this.value.replace(/[^0-9]/g,'');"
          />
        </div>

        <div class="name">Срок действия</div>

        <div class="input-container">
          <div
            type="text"
            class="cardinfo-input month"
            :class="{wrong: isWrong('month')}"
            @click="openSelect('month')"
          >
            {{bankCardInfo.time.month}}
            <div class="select-btn">^</div>

            <div v-if="selectDataOpen.month" class="select-data-container">
              <li
                v-for="(el,i) in month"
                :key="i"
                @click="selectTimeItem('month',i); removeUncorrectField('month')"
              >{{el}}</li>
            </div>
          </div>
          <div
            type="text"
            class="cardinfo-input year"
            :class="{wrong: isWrong('year')}"
            @click="openSelect('year')"
          >
            {{bankCardInfo.time.year}}
            <div class="select-btn">^</div>

            <div v-if="selectDataOpen.year" class="select-data-container">
              <li
                v-for="(el,i) in year"
                :key="i"
                @click="selectTimeItem('year',i); removeUncorrectField('year')"
              >{{el}}</li>
            </div>
          </div>
        </div>

        <div class="input-container">
          <input
            type="text"
            class="cardinfo-input owner"
            :class="{wrong: isWrong('owner')}"
            @input="inputSupport(6); removeUncorrectField('owner')"
            v-model="bankCardInfo.owner"
            placeholder="Держатель карты"
            oninput="this.value=this.value.toUpperCase(); this.value=this.value.replace(/[^A-Z,\s]/g,'');"
          />
        </div>
      </div>

      <div class="card-back">
        <div class="stripe"></div>

        <div class="name">Код CCV2 / CVC2</div>

        <div class="input-container">
          <input
            type="text"
            class="cardinfo-input cvv"
            :class="{wrong: isWrong('cvv')}"
            v-model="bankCardInfo.cvv"
            @input="inputSupport(7); removeUncorrectField('cvv')"
          />
          <img src="@/assets/question_icon.png" class="question-icon" alt="">
        </div>
      </div>

      <div class="button-container">
        <div class="button" @click="pay()">Оплатить</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {},
  data() {
    return {
      payInfo: {
        paynumber: { string: "Номер счёта", value: "" },
        sum: { string: "Сумма платежа", value: "" }
      },

      bankCardInfo: {
        number: ["", "", "", ""],
        time: {
          month: "",
          year: ""
        },
        owner: "",
        cvv: ""
      },

      selectDataOpen: {
        month: false,
        year: false
      },

      uncorrectFields: []
    };
  },
  computed: {
    month() {
      return [
        "01",
        "02",
        "03",
        "04",
        "05",
        "06",
        "07",
        "08",
        "09",
        "10",
        "11",
        "12"
      ];
    },
    year() {
      let curYear = new Date().getFullYear();
      return [curYear, curYear + 1, curYear + 2, curYear + 3, curYear + 4];
    }
  },
  methods: {
    isWrong(name) {
      return this.uncorrectFields.indexOf(name) != -1;
    },
    openSelect(name) {
      this.selectDataOpen[name] = !this.selectDataOpen[name];
    },
    selectTimeItem(name, index) {
      this.bankCardInfo.time[name] = this[name][index];
    },
    checkBankCardInfo() {
      for (let i in this.bankCardInfo.number) {
        if (this.bankCardInfo.number[i].length != 4) {
          this.pushUncorrectField("number");
        }
      }

      if (this.bankCardInfo.time.month == "") {
        this.pushUncorrectField("month");
      }
      if (this.bankCardInfo.time.year == "") {
        this.pushUncorrectField("year");
      }
      if (this.bankCardInfo.owner.length < 4) {
        this.pushUncorrectField("owner");
      }
      if (this.bankCardInfo.cvv.length != 3) {
        this.pushUncorrectField("cvv");
      }

      if(this.payInfo.paynumber.value.length < 3) { //проверка кол-ва цифр в счёте
        this.pushUncorrectField("paynumber");
      }
      let sum = parseInt(this.payInfo.sum.value) //проверка суммы платежа
      if( isNaN(sum) || sum < 1) {
        this.pushUncorrectField("sum");
      }

      return this.uncorrectFields.length == 0;
    },
    pushUncorrectField(name) {
      if (this.uncorrectFields.indexOf(name) == -1) {
        this.uncorrectFields.push(name);
      }
    },
    removeUncorrectField(name) {
      for (let i in this.uncorrectFields) {
        let f = this.uncorrectFields[i];

        if (f == name) {
          this.uncorrectFields.splice(i, 1);
          return;
        }
      }
    },
    inputSupport(index) {
      if (index == 0 || index == 1 || index == 2 || index == 3) {
        if (this.bankCardInfo.number[index].length >= 4) {
          let inputs = document.getElementsByClassName("cardinfo-input");

          inputs[index + 3].focus();
          inputs[index].blur();
          return;
        }
      }
    },
    pay() {
      if (this.checkBankCardInfo()) {
        this.$router.push({
          name: "paymentInfo",
          params: {
            number: this.payInfo.paynumber.value,
            sum: this.payInfo.sum.value + 'руб.',
            name: this.bankCardInfo.owner,
            date: this.getDate()
          }
        }).catch(()=>{});
      }
    },
    getDate() {
      let now = new Date();
      let curr_date = now.getDate();
      let curr_month = now.getMonth() + 1;
      let curr_year = now.getFullYear();

      return `${curr_date}-${curr_month}-${curr_year}`;
    }
  },
  watch: {
    "bankCardInfo.number": {
      handler: function(val) {
        for (let i in val) {
          if (val[i].length > 4) {
            val[i] = val[i].slice(0, 4);
          }
        }
      },
      deep: true
    },
    "bankCardInfo.cvv": function(val) {
      if (val.length > 3) this.bankCardInfo.cvv = val.slice(0, 3);
    }
  }
};
</script>

<style scoped lang="scss">
$hover-shadow: 0 0 10px rgba(143, 143, 143, 0.726);

#payment-page {
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f8f8;

  padding: 30px 30px;

  @media screen and (max-width: $screen-xl) {
    padding: 30px 30px;
  }
  @media screen and (max-width: $screen-l) {
    padding: 7px 20px;
  }
  @media screen and (max-width: $screen-m) {
    padding: 5px 10px;
  }
  @media screen and (max-width: $screen-s) {
    padding: 2px 5px;
  }
}
.info-container {
  color: #8494ab;
  font-size: $font-size-l;

  > p {
    text-align: left;

    .pay-info {
      display: block;
      width: 100%;
      .name {
        display: inline-block;
        width: 160px;
        margin-top: 0.5rem;
      }
      .value {
        color: #535864;
        display: inline-block;

        .cardinfo-input {
          height: 34px;
          width: 150px;
        }
      }
    }
  }
}

.bank-card-container {
  text-align: left;
  position: relative;

  & > p {
    font-size: $font-size-xl;
    font-weight: bolder;
    color: #383d43;
  }
  .name {
    font-size: $font-size-l;
    color: #8494ab;
    margin-top: 0.5rem;
  }

  .card-face {
    position: relative;
    background-color: #f7f9f8;
    border: 1px solid #ecf0f5;
    border-radius: 10px;
    padding: 15px;
    height: 236px;
    width: 350px;
    box-sizing: border-box;
    z-index: 10;

    @media screen and (max-width: $screen-m) {
      height: 190px;
    }
    @media screen and (max-width: $screen-s) {
      width: 300px;
      padding: 5px;
    }
  }

  .card-back {
    background-color: rgb(244, 244, 244); //#f7f8f8;
    border: 1px solid #ecf0f5;
    border-radius: 10px;
    padding: 15px;
    height: 236px;
    width: 350px;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    left: 200px;
    z-index: 1;

    @media screen and (max-width: $screen-m) {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      top: 0px;
      margin-top: -40px;
      left: 0;
      height: 100px;
      width: 350px;
    }
    @media screen and (max-width: $screen-s) {
      width: 300px;
      padding: 5px;
    }

    .stripe {
      height: 42px;
      background-color: #dddddd;
      width: 100%;
    }

    .name {
      text-align: right;

      @media screen and (max-width: $screen-m) {
        margin-right: 10px;
        padding-top: 8px;
      }
    }

    .input-container {
      float: right;
      position: relative;
    }
  }
}

.input-container {
  display: flex;
}
.cardinfo-input {
  cursor: pointer;
  font-size: $font-size-l;
  border: 1px solid #ecf0f5;
  border-radius: 4px;
  background-color: #ffffff;
  color: black;
  height: 42px;
  box-sizing: border-box;
  padding: 4px 8px;
  margin-top: 0.5rem;

  @media screen and (max-width: $screen-m) {
    height: 30px;
  }

  &::placeholder {
    color: #8494ab;
  }
  &:hover {
    box-shadow: $hover-shadow;
  }

  & + .cardinfo-input {
    margin-left: 8px;
  }

  &.number {
    width: 65px;
  }
  &.month {
    width: 70px;
    display: inline-flex;
    position: relative;
    padding: 12px 10px;
  }
  &.year {
    width: 87px;
    display: inline-flex;
    position: relative;
    padding: 12px 10px;
  }
  &.owner {
    width: 100%;
  }
  &.cvv {
    width: 139px;
    display: inline-flex;
    position: relative;
  }
}
.select-btn {
  position: absolute;
  top: 50%;
  transform: rotate(180deg) translateY(60%);
  right: 5px;
  color: #d3d6da;
  font-size: 22px;
}
.select-data-container {
  position: absolute;
  background-color: white;
  padding: 2px 0;
  border: 1px solid #ecf0f5;
  border-radius: 5px;
  top: 100%;

  & > li {
    list-style: none;
    padding: 2px 18px;
    cursor: pointer;

    &:hover {
      background-color: #f7f9f8;
    }
  }
}
.button-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-top: 28px;
  height: 72px;

  & > .button {
    background-color: #005bc0;
    color: white;
  }

  @media screen and (max-width: $screen-m) {
    margin-top: 5px;
  }
}

.button {
  cursor: pointer;
  padding: 15px 30px;
  font-weight: bolder;
  border-radius: 35px/30px;
  height: fit-content;

  &:hover {
    box-shadow: $hover-shadow;
  }
}

.wrong {
  border-color: red;
}

.unselect {
  color: #ccd3da;
}
.question-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-38%) translateX(-40%);
}
</style>