<template>
  <div id="paymentinfo-page">
    <div class="info-container">
      <p>Платёж выполнен</p>
      <p>
        <span
          class="pay-info"
          v-for="(str,f,i) in this.$route.params"
          :key="i">
          <span class="name">{{fieldNames[f]}}:</span>
          <span class="value">{{str}}</span>
        </span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  beforeRouteEnter(to, from, next) {
    if (JSON.stringify(to.params) == "{}") next("/payment");
    else next();
  },

  props: {},

  data() {
    return {
      fieldNames: {
        number: "Счёт",
        sum: "Сумма",
        name: "Пользователь",
        date: "Дата"
      }
    };
  },
  mounted() {
    this.$store.dispatch("addPaymentToHistory", this.$route.params);
  },
  methods: {},
  watch: {}
};
</script>

<style scoped lang="scss">
#paymentinfo-page {
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f8f8;
  color: #535864;

  padding: 100px 30px;
  @media screen and (max-width: $screen-xl) {
    padding: 80px 30px;
  }
  @media screen and (max-width: $screen-l) {
    padding: 30px 20px;
  }
  @media screen and (max-width: $screen-m) {
    padding: 5px 10px;
  }
  @media screen and (max-width: $screen-s) {
    padding: 2px 5px;
  }

  .info-container {
    font-size: $font-size-xl;

    > p {
      font-weight: bolder;

      .pay-info {
        display: block;
        position: relative;
        width: 100%;
        font-size: $font-size-l;

        .name {
          display: inline-block;
          text-align: left;
          width: 150px;
          margin-left: auto;
          margin-top: 0.5rem;
        }
        .value {
          text-align: left;
          display: inline-block;
          padding-left: 10px;
          box-sizing: border-box;
          width: 50%;
        }
      }
    }
  }
}
</style>