<template>
  <div id="paymenthistory-page">
    <div class="history-container">
      <span>История платежей</span>
      <p v-for="(note,i) in paymentHistory" :key="i">
        <span class="pay-info" v-for="(str,f,i) in note" :key="i">
          <span v-if="isShowField(f)">
            <span class="name">{{fieldNames[f]}}:</span>
            <span class="value">{{str}}</span>
          </span>
        </span>
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {},
  data() {
    return {
      fieldNames: {
        number: "Счёт",
        sum: "Сумма",
        name: "Пользователь",
        date: "Дата"
      }
    };
  },
  computed: {
    ...mapGetters(["paymentHistory"])
  },
  methods: {
    isShowField(name) {
      return name != "name";
    }
  },
  watch: {}
};
</script>

<style scoped lang="scss">
#paymenthistory-page {
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f8f8;
  color: #535864;

  padding: 30px 30px;
  @media screen and (max-width: $screen-xl) {
    padding: 20px 30px;
  }
  @media screen and (max-width: $screen-l) {
    padding: 10px 20px;
  }
  @media screen and (max-width: $screen-m) {
    padding: 5px 10px;
  }
  @media screen and (max-width: $screen-s) {
    padding: 2px 5px;
  }

  .history-container {
    font-size: $font-size-xl;
    font-weight: bolder;

    > p {
      & + p {
        border-top: 1px solid #535864;
      }

      .pay-info {
        display: block;
        position: relative;
        width: 100%;
        font-size: $font-size-l;
        .name {
          display: inline-block;
          text-align: left;
          width: 150px;
          margin-left: auto;
          margin-top: 0.5rem;
        }
        .value {
          text-align: left;
          display: inline-block;
          padding-left: 10px;
          box-sizing: border-box;
          width: 50%;
        }
      }
    }
  }
}
</style>