<template>
  <div class="menu-container">
    <div class="menu-btn menu-element" @click="menuBtnClicked()">Меню</div>
    <div class="menu-list" :class="{show: isShowMenu}">
      <li
        v-for="(el, i) in menuElements"
        :key="i"
        class="menu-element"
        :class="{active: isActive(i), disable: notAvailable(i)}"
        @click="menuElClicked(i)"
      >{{el.string}}</li>
    </div>
  </div>
</template>

<script>
export default {
  props: {},
  data() {
    return {
      menuElements: [
        { string: "Личный кабинет", value: "", link: "" },
        { string: "Платежи", value: "", link: "payment" },
        { string: "История платежей", value: "", link: "paymentHistory" },
        { string: "Настройки", value: "", link: "" },
        { string: "Выйти", value: "", link: "" }
      ],

      selectedPage: "",
      isShowMenu: false
    };
  },
  mounted() {
    this.selectedPage = this.$route.name;
  },
  methods: {
    menuBtnClicked() {
      this.isShowMenu = !this.isShowMenu;
    },
    isActive(index) {
      return this.selectedPage == this.menuElements[index].link;
    },
    notAvailable(index) {
      return this.menuElements[index].link == "";
    },
    menuElClicked(index) {
      if (this.menuElements[index].link != "") {
        this.selectedPage = this.menuElements[index].link;

        this.isShowMenu = false;
      }
    }
  },
  watch: {
    selectedPage(val) {
      this.$router.push({ name: val }).catch(() => {});
    }
  }
};
</script>

<style scoped lang="scss">
$menu-color: #191c24;

.menu-container {
  width: 100%;
  position: relative;
  font-size: $font-size-l;
}
.menu-element {
  cursor: pointer;
  list-style: none;
  background-color: $menu-color;
  font-weight: bolder;

  &:hover {
    background-color: lighten($menu-color, 6%);
  }

  &.disable {
    cursor: unset;
    //background-color: lighten($menu-color, 20%);
    color: lightgrey;
    opacity: 0.7;
  }
  &.disable:hover {
    background-color: $menu-color;
  }

  &.active {
    background-color: lighten($menu-color, 3%);
  }
  &.active::after {
    content: "(активная)";
  }

  padding: 30px 30px;

  @media screen and (max-width: $screen-xl) {
    padding: 30px 30px;
  }
  @media screen and (max-width: $screen-l) {
    padding: 7px 20px;
  }
  @media screen and (max-width: $screen-m) {
    padding: 5px 10px;
  }
  @media screen and (max-width: $screen-s) {
    padding: 2px 5px;
  }
}

.menu-btn {
  display: none;

  @media screen and (max-width: $screen-l) {
    display: block;
  }
}

.menu-list {
  width: 100%;
  transition: all 0.5s;

  @media screen and (max-width: $screen-l) {
    position: absolute;
    top: 0px;
    transform: translateY(-100%);
    z-index: 10;
  }

  &.show {
    top: 100%;
    transform: translateY(0%);
  }
}
</style>