<template>
  <div id="app">
    <div id="page">
      <div class="menu">
        <Menu />
      </div>
      <div class="content">
        <router-view />
        <Footer />
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "./components/menu";
import Footer from "./components/footer";

export default {
  components: {
    Menu,
    Footer
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss">
body {
  background-color: #4c4c4c;
  position: relative;

  @media screen and (max-width: $screen-l) {
    margin: unset;
  }
}

$app-width-xl: 960px;
$app-width-l: 780px;
$app-width-m: 100%;
$app-width-s: 100%;

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
}

#page {
  margin: auto;
  text-align: center;
  color: white;
  display: inline-flex;

  width: $app-width-xl;
  padding: 78px 0;

  @media screen and (max-width: $screen-xl) {
    width: $app-width-l;
    padding: 78px 0;
  }
  @media screen and (max-width: $screen-l) {
    width: $app-width-m;
    padding: 0 0;
    display: unset;
  }
  @media screen and (max-width: $screen-m) {
    width: $app-width-m;
    padding: 0px 0;
    display: unset;
  }
  @media screen and (max-width: $screen-s) {
    width: $app-width-s;
    padding: 0px 0;
    display: unset;
  }
}

$menu-width-xl: 300px;
$menu-width-l: 190px;
$menu-width-m: 100%;
$menu-width-s: 100%;

.menu {
  height: fit-content;
  position: relative;
  box-sizing: border-box;

  width: $menu-width-xl;

  @media screen and (max-width: $screen-xl) {
    width: $menu-width-l;
  }
  @media screen and (max-width: $screen-l) {
    width: $menu-width-m;
  }
  @media screen and (max-width: $screen-m) {
    width: $menu-width-m;
  }
  @media screen and (max-width: $screen-s) {
    width: $menu-width-s;
  }
}

.content {
  height: fit-content;
  position: relative;
  box-sizing: border-box;

  width: $app-width-xl - $menu-width-xl;
  @media screen and (max-width: $screen-xl) {
    width: $app-width-xl - $menu-width-xl;
  }
  @media screen and (max-width: $screen-l) {
    width: 100%;
  }
  @media screen and (max-width: $screen-m) {
    width: 100%;
  }
  @media screen and (max-width: $screen-s) {
    width: 100%;
  }
}
</style>
